<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Production</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    {% block stylesheets %}
        <link href="{{ asset('styles/main.min.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
    <!--[if lt IE 9]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js">
    </script><![endif]-->
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body>
    <div class="video-background">
      <div class="video-foreground">
        <iframe src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&amp;showinfo=0&amp;rel=0&amp;autoplay=1&amp;loop=1&amp;mute=1&amp;playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="wrapper">
        <div class="header"> 
            <div class="header-title">
                <h1 class="header-title__mobil">{% block title_pg %}{% endblock %}</h1>
            </div>
            <div class="hamburger hamburger--elastic" tabindex="0" aria-label="Menu" role="button" aria-controls="navigation">
                <div class="hamburger-box">
                <div class="hamburger-inner"></div>
                </div>
            </div>
            <nav class="nav" id="navigation">
                <ul class="menu-main">
                <li class="menu-main__item"><a class="menu-main__link" href="/">Showreel</a></li>
                <li class="menu-main__item"><a class="menu-main__link" href="/portfolio">Портфолио</a></li>
                
                {{ render(controller('PageBundle:Page:getPageList')) }}

                <li class="menu-main__item"><a class="menu-main__link" href="/team">Команда</a></li>
                <li class="menu-main__item"><a class="menu-main__link" href="/contact">Связаться с нами</a></li>
                </ul>
            </nav>
            <div class="menu-close-block" id="menu-close-block"></div>
        </div>
        {% block body %}{% endblock %}
        <div class="modal modal-order">
            <div class="contacts">
                <aside class="contacts__logo logo logo_size"><a class="logo__link" href="index.html"><img class="logo-i" src="{{ asset('img/svg/logo.svg') }}" alt=""></a></aside>
                <article class="contacts__content">
                    <form class="form-sub" id="myOrder" action="{{ path('shooting_order') }}" method="post">
                    <input class="form-contact__name form-contact__list_b" type="hidden" name="list" id="list" value="- Заявка - {% block title_input_form %}{% endblock %}">
                    <div class="input-group input-group__block">
                        <label class="visually-hidden" for="name"></label>
                        <input class="form-contact__name form-contact__name_b" type="text" name="name" placeholder="ФИО" id="name" required>
                    </div>
                    <div class="input-group input-group__block">
                        <label class="visually-hidden" for="email"></label>
                        <input class="form-contact__email form-contact__email_b" type="email" name="email" placeholder="Email" id="email" required>
                    </div>
                    <div class="input-group input-group__block">
                        <label class="visually-hidden" for="tel"></label>
                        <input class="form-contact__tel form-contact__tel_b" type="tel" name="tel" placeholder="+7(___)___-__-__" id="tel" required>
                    </div>
                    <div class="input-group input-group__block">
                        <label class="visually-hidden" for="description"></label>
                        <textarea class="form-contact__text form-contact__text_b" name="msg" cols="30" rows="5" placeholder="Опишите Вашу задачу..." id="description" required></textarea>
                    </div>
                    <div class="input-group">
                        <label class="file-upload"><span class="button">Выбрать</span>
                        <mark>Если у Вас есть ТЗ, прикрепите его</mark>
                        <input type="file" name="pack" id="pack">
                        </label>
                    </div>
                    <div class="form-contact__btn">
                        <button class="form-contact__sub btn" type="submit">Оставить заявку</button>
                        <button class="form-contact__back" type="button">Назад</button>
                    </div>
                    </form>
                </article>
            </div>
        </div>
        <div class="modal modal-success">
            <div class="modal__cont-s">
            <div>Ваша заявка успешно отправлена.</div><a class="btn btn__link" href="/"><span class="btn__title">Ok</span></a>
            </div>
        </div>
        <div class="modal modal-error">
            <div class="modal__cont-s">
            <div>Что-то пошло не так, попробуйте заполнить форму заново.</div><a class="btn btn__link" href="/{% block title_link_form %}{% endblock %}"><span class="btn__title">Ok</span></a>
            </div>
        </div>
        <div class="modal modal-time">
            <div class="modal__cont-s">
            <div>Подождите...</div>
            <div class="bubblingG"><span id="bubblingG_1"></span><span id="bubblingG_2"></span><span id="bubblingG_3"></span></div>
            </div>
        </div>

    </div>
    
  </body>
  {% block javascripts %}
    <script src="{{ asset('scripts/main.js') }}" defer></script>
  {% endblock %}

</html>

{# 
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
    <title>{% block title %}Symblog{% endblock %} - Symblog</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block stylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
        <link href="{{ asset('css/screen.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

<section id="wrapper">
    <header id="header">
        <div class="top">
            {% block navigation %}
                <nav>
                    <ul class="navigation">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            {% endblock %}
        </div>

        <hgroup>
            <h2>{% block blog_title %}<a href="#">Symblog</a>{% endblock %}</h2>
            <h3>{% block blog_tagline %}<a href="#">creating a blog in Symfony2</a>{% endblock %}</h3>
        </hgroup>
    </header>

    <section class="main-col">
        {% block body %}{% endblock %}
    </section>
    <aside class="sidebar">
        {% block sidebar %}{% endblock %}
    </aside>

    <div id="footer">
        {% block footer %}
            Symfony2 blog tutorial - created by <a href="https://github.com/dsyph3r">dsyph3r</a>
        {% endblock %}
    </div>
</section>

{% block javascripts %}{% endblock %}
</body>
</html>
 #}
